body {
  font-family: "Roboto Condensed", sans-serif;
  margin: 0%;
  padding: 0%;
}
.section1andsection2 {
  display: flex;
  margin-left: 20px;
  padding-left: 50px;
  margin-top: 50px;
}
span {
  color: olivedrab;
}
p {
  font-size: 30px;
  padding-bottom: 30px;
}
.continer1 h1 {
  font-size: 60px;
}
#bgImage {
  background-image: url(7.png);
  margin: 0%;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn {
  padding: 20px 50px;
  background-image: linear-gradient(orange, red);
  color: white;
  text-decoration: none;
  border-radius: 50px;
  font-size: 25px;
  box-shadow: 10px 10px 50px orangered;
}
.secondImage {
  width: 100%;
  padding-left: 20%;
  padding-top: 100px;
}
.about {
  padding-left: 20%;
  padding-top: 10%;
  padding-right: 20%;
}
.about p {
  font-size: 20px;
  padding-bottom: 50px;
}
.about h1 {
  font-size: 50px;
}
.myRecipies {
  text-align: center;
}
.myRecipies h1 {
  font-size: 50px;
}
.myRecipies h3 {
  font-weight: 300;
  font-size: 22px;
}
.sectionThree {
  display: flex;
}
.recipies {
  width: 27%;
  margin-left: 4%;
  margin-right: 3%;
  padding: 15px;
  box-shadow: 10px 10px 50px gray;
  border-radius: 30px;
}
.sectionThree {
  display: flex;
}
.recipies img {
  height: 300px;
  width: 350px;
  padding: 10px;
}
.recipies h1 {
  font-size: 50px;
}
.recipies h3 {
  font-size: 25px;
  font-weight: 300;
}
footer {
  height: 300px;
  text-align: center;
  padding-top: 50px;
  margin-top: 60px;
  background-color: black;
  color: white;
}
footer h1 {
  font-size: 40px;
}
footer span {
  color: red;
}
footer h3 {
  font-size: 25px;
}
